<?xml version="1.0"?>
<model>
    <name>Dummy</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Quan Nham</name>
        <email>mnn7679@nyu.edu</email>
    </author>

    <description>
        Dummy robot for sonar and pathfinding testing.
    </description>
</model>