<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dummy">
	<!-- Dummy xacro courtesy of:
		https://github.com/ubi-agni/human_hand/blob/master/robots/human_hand.urdf.xacro
		https://wiki.ros.org/xacro
	-->

	<!-- Creating robot -->
  <link name="base_link">
    <!-- <pose>0 0 0 0 0 0</pose> -->
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="20.0" />
      <inertia ixx="0.52083125" ixy="0.0" ixz="0.0" iyy="0.52083125" iyz="0.0" izz="0.83333" />
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 0" />
      <geometry>
        <box size=".50 .50 .25" />
      </geometry>
    </visual>
    <collision name="collision">
      <origin xyz="0 0 0" />
      <geometry>
        <box size=".50 .50 .25" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <turnGravityOff>1</turnGravityOff>
  </gazebo>

  <!-- Link must have inertia, otherwise overlooked by URDF parser -->
  <link name="imu_link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
  </link>
  <joint name="imu_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="base_link" />
    <child link="imu_link" />
    <limit upper="0" lower="0" effort="0" velocity="0" />
  </joint>
  <gazebo reference="imu_link">
    <turnGravityOff>1</turnGravityOff>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <!-- This separation is incredibly crucial:
        https://github.com/gazebosim/ros_gz/issues/109#issuecomment-689142931
        https://classic.gazebosim.org/tutorials?tut=ros_gzplugins
	-->
	<gazebo>
		<plugin name="dummy_control" filename="libdummy_plugin.so">
			<!-- D term used here as a damper -->
			<pid_x>2 0.0 10</pid_x>
			<pid_y>2 0.0 10</pid_y>
			<pid_z>2 0.0 10</pid_z>
			<pid_r>1 0.0 5</pid_r>
			<pid_p>1 0.0 5</pid_p>
			<pid_w>1 0.0 5</pid_w>
			<max_force>100</max_force>
			<max_torque>100</max_torque>
			<link_name>base_link</link_name>
		</plugin>

		<!-- Send joint states:
		https://answers.ros.org/question/355311/gazebo-is-not-able-to-send-the-joint-states-to-generate-tf-tree/ -->
		<plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
			<robotNamespace>dummy</robotNamespace>
			<!-- Must have this list of joints -->
			<jointName>imu_joint, ping360_sonar_joint, mbe_sonar_joint</jointName>
			<updateRate>30</updateRate>
		</plugin>

		<!-- Link base_link to map:
		https://answers.gazebosim.org//question/5308/getting-the-gazebo-plugin-p3d-working-hydro/ -->
		<plugin name="map_to_base_link" filename="libgazebo_ros_p3d.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>30</updateRate>
			<bodyName>base_link</bodyName>
			<topicName>dummy/base_link</topicName>
			<frameName>map</frameName>
		</plugin>
	</gazebo>

	<!-- Mount the sonars -->
	<xacro:include filename="../model/sonars.urdf.xacro"/>
	<xacro:ping360_macro parent_link="base_link" namespace="/dummy" gravity="false">
		<origin xyz="0.15 0 0.175" rpy="0 0 0"/>
		<axis xyz="0 0 1"/>
	</xacro:ping360_macro>
	<xacro:mbe_macro parent_link="base_link" namespace="/dummy" gravity="false">
    <origin xyz="0.15 0 -0.2" rpy="0 0.174533 0"/>
    <axis xyz="0 0 1"/>
	</xacro:mbe_macro>
</robot>
